body{
    margin: 0;
    padding: 0;
    background: rgba(223, 230, 233,1.0);
}

.add-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 55px 55px 40px 55px;
    background: rgba(245, 246, 250,.6);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.login-box a{
    display: block;
    /* margin-bottom: 0; */
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    text-align: center;
}

.login-box a:hover{
    /* color: black; */
    background: rgba(0,0,0,.3);
}

.login-box h1{
    float: left;
    /* filter: blur(2px); */
    font-size: 40px;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
    padding: 13px 0;
    /* background: #00d2d3; */
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    /* z-index: 2; */
    border: none;
    outline: none;
    background: none;
    /* color: white; */
    font-size:18px;
    float: left;
    margin:0 10px;
    width: 80%;
}

.btn{
    width: 100%;
    background: rgba(52, 152, 219,1.0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 8px;
    border: none;
    font-size: 18px;
    margin: 18px 0;
    transition: 0.8s;
    color: #fff;
}

.btn:hover{
    background: rgba(52, 73, 94,1.0);
    /* transform: scale(1.04); */
}

.login-box p{
    font-weight: bold;
    width: 50%;
    color: red;
    opacity: 0;
    animation: msg 2s linear;
}

@keyframes msg {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}